<template>
  <v-app id="inspire">
    <v-main>
      <v-container
        class="fill-height"
        fluid
      >
        <v-row
          align="center"
          justify="center"
        >
          <v-col
            cols="12"
            sm="8"
            md="4"
          >
            <v-card class="elevation-12">
              <v-toolbar
                color="primary"
                dark
                flat
              >
                <v-toolbar-title>Login</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-tooltip bottom>
                  <template v-slot:activator="{ on }">
                    <v-btn
                      :href="source"
                      icon
                      large
                      target="_blank"
                      v-on="on"
                    >
                      <v-icon>mdi-code-tags</v-icon>
                    </v-btn>
                  </template>
                  <span>Source</span>
                </v-tooltip>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field
                    label="Login"
                    name="login"
                    prepend-icon="mdi-account"
                    type="text"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Password"
                    name="password"
                    prepend-icon="mdi-lock"
                    type="password"
                  ></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-col>
        </v-row>

        <v-row
          align="center"
          justify="center"
          >
          <v-card>
            <v-card-text>
              <span>Testar vue-router</span>
              <v-btn color="primary" @click="route2cadastro">Cadastro</v-btn>
              <v-btn color="primary" @click="route2admin">Admin</v-btn>
            </v-card-text>
          </v-card>

        </v-row>
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
    name: 'Home',

    methods: {
    route2cadastro () {
      this.$router.push({path: '/cadastro'})
    },
    route2admin () {
      this.$router.push({path: '/admin'})
    }
  }
}
</script>